body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: inherit;
}

.content-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
    height: 100%;
}
.api {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.content-event {
    width: 95%;
    margin: 10px 0 10px 0;
    background-color: white;
    min-height: 50%;
    box-shadow: 0 0 10px grey;
    border-radius: 4px;
}

.content-weather {
    width: 95%;
    height: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px grey;
    margin: 10px 0 10px 0;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    /* background-image: url('../../images/weather/day.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 351px;
    font-family: inherit;
}

.intro {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    font-size: 1.3rem;
}
 .town {
    display: flex;
    justify-content: flex-end;
}

.icon{
    padding-left: 10px;
    padding-right: 15px;
}

.temp p {
    padding: 0px;
    margin: 0;
}
.temp {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 0 30px 0 30px;
    flex-direction: row;
    align-items: center;
}
.iconTemp {
    margin: 8px;
}
.description {
    display: flex;
    justify-content: center;  
    font-size: 1.2rem;
}
.additional {
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-size: 1.1rem;
}

.weatherDesc {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

.weatherDesc p {
    padding: 0;
    margin: 0;
}
.iconWeather {
    padding-right: 10px;
}

.date {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 5px;
}
.date p {
    padding: 0;
    margin: 0;
}
.content-news{
    width: 95%;
    background-color: white;
    box-shadow: 0 0 10px grey;
    border-radius: 4px;
}

@media (min-width: 40rem) {
    .api {
        flex-direction: row;
         width: 100%;
         justify-content: space-between;

    }
    .content-event {
        width: 67%;
        box-sizing: border-box;
    }
    .content-weather{
        width: 30%;
        box-sizing: border-box;
    }
    .content-news {
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;       
    }
    #articles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #artAll {
        display: flex;
        flex-direction: column;
        /* min-width: 100%;
        max-width: 95%; */
        width: 100%;
        /* margin-left: .1rem; */
        /* box-sizing: border-box; */
    }
   
    #artTitle {
        display: flex;
        justify-content: center;
    }

    #artTitle:hover {
        color: aliceblue;
        /* background-color: cadetblue; */
        background-color: #f5a75e;
        width: 100%;
    }

    #artContent {
        display: flex;
        justify-content: space-between;
        min-width: 90%;
        max-width: 90%;
        align-items: center;
        margin-left: .3rem;
    }

    .content-news h1 {
        display: flex;
        font-size: 1.4rem;
        /* color: let(--random); */
        justify-content: end;
        padding: .2rem;
        /* border-bottom: 1px grey dotted; */
    }
    #articles p {
        text-align: center;
    }
    #articles a {
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width: 40rem) and (max-width: 69rem) {
    .temp {
        font-size: 2.3rem;
    } 

    .content-weather {
        width: 40%;
    }
    .content-event {
        width: 55%;
    }
    .town {
        margin-left: 0.5%;
    }
}
