body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.plane-calendar {
    height: 100%;
    width: 100%;
}

.calendar-nav-and-content {
    display: flex;
    width: 100%;
    /* height: 100%;*/
    min-height: 100%;
    background: rgb(219, 219, 219);
}

.calendar-content {
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* width: 100%; */
    height: 100%;
}
.modal {
    width: 90%;
    top: 1%;
    left: 5%;
    position: absolute;
}
.modal-event {
    height: auto;
}
.modal-calendar{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-self: center;
}
.calendar-header {
    display: flex;
    width: 95%;
    align-self:center;
    height: 5%;
    min-height:3.5rem;
}

.calendar-header-title-and-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-header-menu {
    display: flex;
    color: #7b7777;
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendar-header-title {
    color: #7b7777;
    margin: 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendar-tiles {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
}

.calendar-tile {
    display: flex;
    /* align-self:center; */
    background: white;
    width: 95%;
    height: 95%;
    border-radius: 4px;
    box-shadow: 0 0 10px grey;
    flex-direction: column;
    justify-content: space-between;
}

.department {
    /* border: 3px solid #347582; */
    width: 12rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    box-shadow: 0 0 4px;
    background-color: white;
    padding: .2rem;
}

.privacy-button {
    background-color: white;
    border: none;
    color: inherit;
    /* box-shadow: 0 0 4px rgba(255, 233, 207, 0.082); */
    border: .7px solid grey;
    padding: .4rem .6rem;
    margin: .2rem;
    width: 13rem;
}
.privacy-button:hover,
.privacy-button:focus,
.save-button:hover {
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 2px rgb(241, 153, 51);
   border: .7px solid white;
   padding: .4rem .6rem;
   margin: .2rem;
}

 .input-active:focus {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 2px rgb(241, 153, 51);
    
} 
.input-event{
    margin: 0;
}
.save-button {
    position: absolute;
    right: .4rem;
    bottom: .4rem;
    background-color: white;
    border: none;
    box-shadow: 0 0 4px rgb(173, 168, 163);
}
.event-feature{
    display: flex;
    flex-direction: column;
     margin: 1rem 0 1rem 0;
     /* display: flex; */
     justify-content: space-between;
     
}
.event-select, 
.modal-input {
    width: 13rem;
}
.input {
    padding: 0;
}
.event-visibility {
    width: 20rem;
    display: flex;
    flex-direction: row;
    width: 10rem;
}
.filters {
    /* align-self: center; */
    font-family: inherit;
    width: 40%;
    padding-right: 1rem;
}
/* .filter {
    display: flex;
    margin: .4rem .8rem .4rem;
    flex-direction: column;
    font-size: 1.4rem;
}
.filter-label {
    display: flex;
}
.filter-select {
    width: 8rem;
    height: 1.8rem;
} */

.calendar-modal-date,
.calendar-modal-date input {
    width: 15rem;
    padding: 0;
}

@media (min-width: 44rem) {
    .calendar-header-menu {
        display: none;
    }
    .calendar-content {
        width:80%;
    }
    .modal {
        width: 50%;
        top: 15%;
        left: 17%;
    }
    .event-feature {
        display: flex;
        flex-direction: row;
    }
    
}
@media (min-width: 85rem) {
    .modal {
        width: 40%;
        /* top: 15%;
        left: 17%; */
    }
    .event-feature {
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        width: 28rem;
        flex-direction: row;
    }
    .event-visibility {
        width: 20rem;
    }
    .event-select, 
    .modal-input,
    .privacy-button {
        width: 15rem;
    }
}
@media (min-width: 67rem){
    .calendar-tile {
        flex-direction: row;
    }
    .filters {
        align-self: center;
        width: auto;
    }
    /* .filter-label {
        justify-content: center;
    } */
}