.plane-parent {
    display: flex;
    background: lightgrey;
/*    height: 100%;
    width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.plane {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: radial-gradient(ellipse 162% 190% at -1% 50%, #f7f7f7 55%, lightgray 60%, white 60.7%);
    flex-direction: column;
    align-items: center;
    justify-content: center; 
/*    min-height: 18rem;*/
    /*background: radial-gradient(ellipse 50% 150% at 4% 50%, white 58%, #e5e5e5 60%, white 60%);*/
}

.plane div {
/*    flex-grow: 1;*/
    flex-shrink: 0;
}

.plane-left {
    /*min-width: 137px;
    min-height: 200px;*/
    min-width: 9rem;
    min-height: 13rem; 
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.login-credentials {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-user {
    width: 8rem;
}

.p-hello {
    font-size: 2rem
}

.p-login {
    text-align: center;
    max-width: 11rem;
}

.input {
    font-family: inherit;
    margin-bottom: 2rem;
    outline: none;
    font-size: 1rem;
    height: 2rem;
    width: 15rem;
    padding: 0.2rem 0.6rem;
    border: 0px;
    border-bottom: 2px solid grey;
    font-family: inherit;
    background: rgba(255,255,255, 0);
    transition: border-bottom 0.4s ease;
    border-radius: 0px;
}

.label {
    height: 1.8rem;
    align-self: center;
    color: rgba(0,0,0, 0.6);
    transition: font-size 0.3s ease;
}

.input:hover,
.input:focus {
    border-bottom: 2px solid orange;
}

.button {
    height: 3.5rem;
    width: 12rem;
    background: #ff974b;
    border: 0;
    border-radius: 5px;
    transition: all 0.4s ease;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-size: 1rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.2rem;
  transition: 0.4s;
}

.button:hover span {
  padding-right: 1.2rem;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover,
.button:focus {
    cursor: pointer;
    box-shadow: 1px 0px 50px rgba(255, 151, 71, 0.78);
    background: rgb(240, 134, 52);
}